## Nominal/OHE

In [30]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [31]:
df = pd.DataFrame({
       'colour' : ['red','blue','green','green','red','blue']
})

In [32]:
df

  colour
0    red
1   blue
2  green
3  green
4    red
5   blue

In [33]:
## create an instance of OHE
encoder = OneHotEncoder()

In [34]:
# fit the data into data frame and tranform the catrgorical  variable
encoded = encoder.fit_transform(df[['colour']])

In [35]:
df2 = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [36]:
pd.concat([df,df2],axis=1)

  colour  colour_blue  colour_green  colour_red
0    red          0.0           0.0         1.0
1   blue          1.0           0.0         0.0
2  green          0.0           1.0         0.0
3  green          0.0           1.0         0.0
4    red          0.0           0.0         1.0
5   blue          1.0           0.0         0.0