In [1]:
import pandas as pd

In [3]:
#creating data frame with a categorical variable and a target variable 

df = pd.DataFrame({
   'city': ['New York','London','Paris','Tokyo','New York','Paris'],
   'price':[200,150,300,250,180,320]
})

In [8]:
## calculate the mean price for each city

mean_price = df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [9]:
# replace each city with it mean price 

df['city_encoded'] = df['city'].map(mean_price)

In [10]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0